// Theme colors
$color-primary: #e02a1e;
$color-logo-red: #e02a1e;
$color-logo-black: #030303;
$color-logo-white: #ffffff;
$color-shape-red: $color-logo-red;
$color-shape-yellow: #F1F51F;
$color-shape-blue: #13007E;

// Main colors
$color-background: #ffffff;

// Text colors
$color-text-dark: #333333;
$color-text-light: #ffffff;