.navigation {
    position: relative;
    display: flex;
    align-items: stretch;
    text-align: left;
    margin: 1.375em auto 6.25em auto;
    z-index: 100;

    & * {
        // border: 1px solid blue;
    }
}

.navigation>a {
    // display: inline-block; 
}

.navigation svg {
    display: block;
    height: 3em;
    margin: 0 1.475em 0 0;
}

.navigation {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        display: inline-block;

        a {
            display: block;
            color: inherit;
            text-decoration: none;
            padding: .9em;

            &:hover,
            &:active {
                color: $color-logo-red;
            }
        }
    }
}