.navigation {
    position: relative;
    display: flex;
    align-items: stretch;
    text-align: left;
    margin: 1.375em auto 6.25em auto;
    z-index: 100;
}

.navigation img {
    margin: 0;
    padding: 0;
}

.navigation {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        display: flex;
        height: 100%;
        align-items: stretch;
    }

    a {
        color: inherit;
        text-decoration: none;

        &:hover,
        &:active {
            color: $color-logo-red;
        }
    }
}