p {
    width: 79%;
    margin: 1.3889em 0;
    font-size: 1.8rem;
    line-height: 140%;
}

.title {
    margin: 0.833em auto;
    font-size: 2.25em;
    font-weight: bold;
    letter-spacing: -0.02em;
    color: $color-shape-blue;
}