$font-sserif: Intro,
Arial,
sans-serif;
$font-serif: serif;

html,
body {
    font-family: $font-sserif;
}

a {
    &:hover {
        color: $color-primary;
    }
    &:active {
        color: $color-primary;
    }
}